.figma-toggle {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
}

.figma-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}


.figma-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #A2A2A2;
  border-radius: 34px;
  transition: background 0.2s;
}

.figma-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  top: 3px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.2s;
  box-shadow: 0 1px 4px rgba(0,0,0,0.12);
}

.figma-toggle input:checked + .figma-slider {
  background: #89AE99;
}

.figma-toggle input:checked + .figma-slider:before {
  transform: translateX(14px);
}
